@use '../../constants/ui-constants' as ui;

.resource-tile-placeholder {
    background: ui.$app-color-light-grey-1;
    display: inline-block;
    width: 320px;
    margin: 20px;
    filter: drop-shadow(3px 3px 3px rgba(46,46,46,0.30));
    vertical-align: middle;
    border-radius: 5px;
    overflow: hidden;

    @media (max-width: ui.$app-viewport-breakpoint-mobile) {
        width: 95%;
        margin: 15px 0;
    }
}

.header {
    height: 18px !important;
    width: 100%;
    background-color: ui.$app-color-light-grey-1;
}

.header-dot {
    height: 10px;
    width: 10px;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 5px;
    border-radius: 50%;
    display: inline-block;

    background-color: ui.$app-color-light-grey-2;
}

.icon {
    width: 100%;
    height: 140px;
    background: ui.$app-color-light-grey-2;
    margin-bottom: 19px;

    @media (max-width: ui.$app-viewport-breakpoint-mobile) {
        height: 30vw;
    }
}

.content {
    height: 140px;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;

    @media (max-width: ui.$app-viewport-breakpoint-mobile) {
        height: 30vw;
    }
}

.title {
    height: 18px;
    width: 50%;
    background: ui.$app-color-light-grey-2;
    border-radius: 15px;
}

.description-1 {
    height: 13px;
    width: 80%;
    background: ui.$app-color-light-grey-2;
    border-radius: 15px;
    margin-top: 15px;
}

.description-2 {
    height: 13px;
    width: 85%;
    background: ui.$app-color-light-grey-2;
    border-radius: 15px;
    margin-top: 5px;
}

.description-3 {
    height: 13px;
    width: 30%;
    background: ui.$app-color-light-grey-2;
    border-radius: 15px;
    margin-top: 5px;
}

.loading {
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        display: block;
        background: ui.$app-color-light-grey-2;
        background: linear-gradient(to right, ui.$app-color-light-grey-2 0%, ui.$app-color-light-grey-3 30%, ui.$app-color-light-grey-3 70%, ui.$app-color-light-grey-2 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: translateX(0);
        animation: resource-tile-placeholder-loading-placeholder 1.5s ease-in-out infinite;
    }
}

@keyframes resource-tile-placeholder-loading-placeholder {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
